satellitePayloadGroundControl/frameFormat/lua/lua-5.4.*_lib/
satellitePayloadGroundControl/frameFormat/lua/liblua54.a
build-*/

# Qt
*.pro.user
*.pro.user.*
*.qmake.stash

# Build
build/
bin/
exe/
*.o
*.obj
*.exe
*.csv
*.xlsx

# Logs
log/
*.log

# VS / QtCreator
*.user
*.autosave

# 临时文件
*.tmp
